@import "tailwindcss";

html{
    touch-action: none;
}
body {
   background-color: black;
   touch-action: none;
}

@keyframes loadingBar {
   from {
     width: 0;
   }
   to {
     width: 100%;
   }
 }
 
 @keyframes rowUp {
   from {
     transform: translateY(100%);
   }
   to {
     transform: translateY(0);
   }
 }
 
 @keyframes rowDown {
   from {
     transform: translateY(-100%);
   }
   to {
     transform: translateY(0);
   }
 }